<footer class="container-fluid">
  <div
    class="d-flex justify-content-between align-items-center flex-md-row flex-column-reverse"
  >
    <p class="text-center text-md-left mb-0">
      &copy; Copyrights CrazyHooliganMusic 2023
    </p>
    <div class="d-flex justify-content-center text-center text-md-left">
      <a class="me-2" [routerLink]="['/privacy-policy']">Privacy Policy</a>
      |
      <a class="ms-2" [routerLink]="['/terms-and-conditions']"
        >Terms and Conditions</a
      >
    </div>
  </div>
</footer>
