.artistsContainer {
    .artistsTitle {
        h1 {
            width: 140px;

            &::after {
                right: 0;
            }
        }
    }

    .card {
        cursor: pointer;
        text-decoration: none;
        margin-bottom: 20px;

        img {
            width: 100%;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            height: 170px;
        }

        h4 {
            font-size: 16px;
            padding-top: 10px;
            margin: 0 0 10px 0;
            color: #402848;
            font-weight: 600;
            text-align: center;
        }

        .thumbnail {
            position: relative;

            .overlayEffect {
                position: absolute;
                top: 0;
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
                text-decoration: none;

                .playBtn,
                .overlay {
                    opacity: 0;

                    &:hover {
                        display: block;
                        transition: opacity 0.25s ease-in-out;
                        -moz-transition: opacity 0.25s ease-in-out;
                        -webkit-transition: opacity 0.25s ease-in-out;
                    }
                }

                &:hover {
                    .playBtn {
                        position: absolute;
                        font-size: 40px;
                        text-transform: uppercase;
                        color: #ffffff;
                        z-index: 1000;
                        opacity: 1;
                        vertical-align: middle;
                        top: 33%;
                        left: 20%;
                        letter-spacing: 4px;
                    }

                    .overlay {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #000000;
                        opacity: 0.7;
                        border-radius: 0.25rem;
                    }
                }
            }
        }
    }
}